# Feature Information
<table style='margin-left: auto; margin-right: auto'>
    <tr>
        <th colspan='3'> Cleaned DOHMH Dog Bite Data </th>
    <tr>
    <tr>
        <th> Column Name </th>
        <th> Description </th>
        <th> Data Type </th>
    </tr>
    <tr>
        <td> year </th>
        <td> Reported on a specific year </th>
        <td> Integer </th>
    </tr>
    <tr>
        <td> month </th>
        <td> Reported on a specific month </th>
        <td> Integer </th>
    </tr>
    <tr>
        <td> day </th>
        <td> Reported on a specific day </th>
        <td> Integer </th>
    </tr>
    <tr>
        <td> day_of_week </th>
        <td> Reported on a specific Day of Week </th>
        <td> Integer </th>
    </tr>
    <tr>
        <td> bronx </th>
        <td> Dog bite reported in the Bronx. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> brooklyn </th>
        <td> Dog bite reported in Brooklyn. </th>
        <td> Boolean </th>
    </tr>
    </tr>
        <tr>
        <td> manhattan </th>
        <td> Dog bite reported in Manhattan. </th>
        <td> Boolean </th>
    </tr>
    </tr>
        <tr>
        <td> queens </th>
        <td> Dog bite reported in Queens. </th>
        <td> Boolean </th>
    </tr>
    </tr>
        <tr>
        <td> staten_island </th>
        <td> Dog bite reported in Staten Island. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> zip_code </th>
        <td> Dog bite Zipcode. Blank ZipCode indicates that information was not available </th>
        <td> Text </th>
    </tr>
    <tr>
        <td> spay_neuter </th>
        <td> Surgical removal of dog's reproductive organs. True (reported to DOHMH as Spayed or Neutered), False (Unknown or Not Spayed or Neutered) </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> pit_bull </th>
        <td> Indicates that the dog has pit_bull in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> other </th>
        <td> Indicates that the dog has other in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> shih_tzu </th>
        <td> Indicates that the dog has shih_tzu in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> chihuahua </th>
        <td> Indicates that the dog has chihuahua in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> german_shepherd </th>
        <td> Indicates that the dog has german_shepherd in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> labrador_retriever </th>
        <td> Indicates that the dog has labrador_retriever in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> bull_dog </th>
        <td> Indicates that the dog has bull_dog in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> yorkshire_terrier </th>
        <td> Indicates that the dog has yorkshire_terrier in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> maltese </th>
        <td> Indicates that the dog has maltese in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> standard_poodle </th>
        <td> Indicates that the dog has standard_poodle in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
    <tr>
        <td> husky </th>
        <td> Indicates that the dog has husky in its breed. Multiple True values indicate mixed dog breed. </th>
        <td> Boolean </th>
    </tr>
</table>

# Import

In [26]:
# libraries and modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import DBSCAN

In [27]:
# import data
data = pd.read_csv('../data/processed/dog_bite_cleaned.csv')

# display
data.head()

,date_of_bite,spay_neuter,zip_code,bronx,brooklyn,manhattan,queens,staten_island,pit_bull,other,shih_tzu,chihuahua,german_shepherd,labrador_retriever,bull_dog,yorkshire_terrier,maltese,standard_poodle,husky
0,2018-01-01,False,11220,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,2018-01-04,False,NaN,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,2018-01-06,False,11224,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,2018-01-08,False,11231,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,2018-01-09,False,11224,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [28]:
data = data.drop(columns=['date_of_bite'])
data.head()

,spay_neuter,zip_code,bronx,brooklyn,manhattan,queens,staten_island,pit_bull,other,shih_tzu,chihuahua,german_shepherd,labrador_retriever,bull_dog,yorkshire_terrier,maltese,standard_poodle,husky
0,False,11220,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,NaN,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,11224,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,11231,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,11224,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False

minPts = 2 * number_of_dimensions (15)
minPts = 30

In [29]:
minPts = 30

In [30]:
neigh = NearestNeighbors(n_neighbors=minPts)
neigh.fit(data)
distances, indices = neigh.kneighbors(data)

# Sort the distances to the nearest `minPts` neighbors
distances = np.sort(distances[:, minPts - 1])
plt.plot(distances)
plt.xlabel('Data Points sorted by distance')
plt.ylabel(f'{minPts}-NN Distance')
plt.title('K-Distance Graph')
plt.show()

ValueError: could not convert string to float: '?'